<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <main>
      <div
        class="min-h-screen bg-gray-50 py-6 flex flex-col justify-center relative overflow-hidden sm:py-12"
      >
        <img
          src="/img/beams.jpg"
          alt=""
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-none"
          width="1308"
        />
        <div
          class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"
        ></div>
        <div
          class="relative px-6 pt-10 pb-8 bg-white shadow-xl ring-1 ring-gray-900/5 sm:max-w-lg sm:mx-auto sm:rounded-lg sm:px-10"
        >
          <div class="max-w-md mx-auto">
            <h1>{{ title }}</h1>
            <div class="divide-y divide-gray-300/50">
              <div class="py-8 text-base leading-7 space-y-6 text-gray-600">
                {{ content | safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
